<div class="row">
  <div class="col-xs-5 flashcard">
    <h4>Question</h4>
    <hr>
    <textarea placeholder="Enter a question" ng-model="$ctrl.card.question" id="createQuestionField"></textarea>


    <!-- Multiple choice area -->
    <div class="mult-choice-section">
      <div class="row text-center">
        <i>Enter at least two and up to five answers.  You may only mark one answer as correct.</i>

        <div class="input-group-btn" ng-show="$ctrl.editable">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span> Select Correct Answer
          </button>
          <ul class="dropdown-menu">
            <li ng-show="$ctrl.card.options.a" ng-click="$ctrl.setCorrectAnswer('a')"><a href="#">A</a></li>
            <li ng-show="$ctrl.card.options.b" ng-click="$ctrl.setCorrectAnswer('b')"><a href="#">B</a></li>
            <li ng-show="$ctrl.card.options.c" ng-click="$ctrl.setCorrectAnswer('c')"><a href="#">C</a></li>
            <li ng-show="$ctrl.card.options.d" ng-click="$ctrl.setCorrectAnswer('d')"><a href="#">D</a></li>
            <li ng-show="$ctrl.card.options.e" ng-click="$ctrl.setCorrectAnswer('e')"><a href="#">E</a></li>
          </ul>
        </div><!-- /btn-group -->

      </div>
   <!--    <div class="input-group text-center"> -->

        <div class="row text-center">
          <span class="input-group-addon">
            A:
          </span>
          <input type="text" class="form-control" ng-model="$ctrl.card.options.a" ng-disabled="!$ctrl.editable" aria-label="...">
        </div>

        <div class="row text-center">
          <span class="input-group-addon">
            B:
          </span>
          <input type="text" class="form-control" ng-model="$ctrl.card.options.b" ng-disabled="!$ctrl.editable" aria-label="...">
        </div>

        <div class="row text-center">
          <span class="input-group-addon">
            C:
          </span>
          <input type="text" class="form-control" ng-model="$ctrl.card.options.c" ng-disabled="!$ctrl.editable" aria-label="...">
        </div>

        <div class="row text-center">
          <span class="input-group-addon">
            D:
          </span>
          <input type="text" class="form-control" ng-model="$ctrl.card.options.d" ng-disabled="!$ctrl.editable" aria-label="...">
        </div>

        <div class="row text-center">
          <span class="input-group-addon">
            E:
          </span>
          <input type="text" class="form-control" ng-model="$ctrl.card.options.e" ng-disabled="!$ctrl.editable" aria-label="...">
        </div>


      <!-- /input-group -->

    </div>
    <!-- END Multiple Choice area -->

</div>

  <div class="col-xs-5 flashcard">
    <h4>Answer</h4>
    <hr>
    <textarea placeholder="Enter the answer" ng-model="$ctrl.card.answer"></textarea>


    <!-- Multiple Choice Answer Data -->
    <div class="row text-center">
      <h1>
        <span class="label label-success">{{'Correct Answer: ' + $ctrl.card.correctOption.toUpperCase()}}
        </span>
      </h1>
    </div>
  </div>
</div>

<!-- Submit Card Button -->
<div class="row text-center" ng-show="!$ctrl.hideSubmit">

  <button class="btn btn-primary" ng-click="$ctrl.populateCard($ctrl.card); $ctrl.clearFields(); $ctrl.toggleSentMsg();">

    Submit Card
  </button>

  <!-- Warning to display after each card is added -->
  <div class="row text-center" ng-if="$ctrl.showSentMsg">
    <h3>
      <span class="label label-warning">
        New Card Added to Deck!
      </span>
    </h3>
  </div>


</div>