<div class="row">
  <div class="col-xs-5 flashcard">
    <h4>Question</h4>
    <hr>
    <textarea placeholder="Enter a question" ng-model="$ctrl.card.question" id="createQuestionField"></textarea>
  </div>

  <div class="col-xs-5 flashcard">
    <h4>Answer</h4>
    <hr>
    <textarea placeholder="Enter the answer" ng-model="$ctrl.card.answer"></textarea>
  </div>
</div>
<div class="row text-center">
  <button class="btn btn-primary" ng-show="!$ctrl.hideSubmit" ng-click="$ctrl.populateCard($ctrl.card); $ctrl.clearFields();">    Submit Card
  </button>
</div>
