<div ng-controller="CreatePageCtrl as create">

  <div class="container">

  <!-- Buttons to select card type -->
  <select-card-type ng-show="!create.typeSelected" set-card-type="create.setCardType"/>


  <!-- Main Section is hidden until card type is selected. -->

  <!-- ng-show="create.typeSelected" -->
  <div class="create-main-section">
    <h3>DECK NAME: <input placeholder="Enter a deck name" ng-model="create.newDeck.deckname" required /></h3>

    <h3>GROUP NAME: <input placeholder="Enter a group name" ng-model="create.newDeck.groupname" required /></h3>


    <div class="row">
      <div class="col-xs-5 flashcard">
        <h4>Question</h4>
        <hr>
        <textarea placeholder="Enter a question" ng-model="create.newCard.front" id="createQuestionField"></textarea>

        <!-- Multiple choice section -->
        <div class="card-mc-section" ng-show="create.getCardType() ==='multiple choice'">
          <div class="row">

              <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" aria-label="...">
                </span>
                <input type="text" class="form-control" aria-label="...">
              </div><!-- /input-group -->
          </div>
      </div>
    </div>

      <div class="col-xs-5 flashcard">
        <h4>Answer</h4>
        <hr>
        <textarea placeholder="Enter the answer" ng-show="create.getCardType() ==='basic';" ng-keyup="$event.keyCode == 13 && create.addCard(create.newCard)" ng-model="create.newCard.back"></textarea>
      </div>
    </div>


      <button class="btn btn-primary" ng-click="create.addCard(create.newCard)">Add card</button>

      <hr> <!-- Start of list of currently made cards -->

      <div ng-repeat="card in create.newDeck.cards" >
        <div class="row">
          <div class="col-xs-5 flashcard">
            <h4>Question</h4>

            <div class="codeToggleBtn">
              <button ng-click="create.toggleHighlightFront(card)" ng-class="{'btn': card.plaintextFront, 'btn btn-primary': !card.plaintextFront}">
                <span class="fa fa-code"></span>
              </button>
            </div>

            <hr>
            <textarea placeholder="Enter a question" ng-model="card.front" ></textarea>
          </div>

          <div class="col-xs-5 flashcard">
            <h4>Answer</h4>

            <div class="codeToggleBtn">
              <button ng-click="create.toggleHighlightBack(card)" ng-class="{'btn': card.plaintextBack, 'btn btn-primary': !card.plaintextBack}">
                <span class="fa fa-code"></span>
              </button>
            </div>

            <hr>
            <textarea placeholder="Enter the answer" ng-model="card.back"></textarea>
          </div>
        </div>

        <button class="btn btn-danger" ng-click="create.deleteCard(card)">Delete card</button>
        <button class="btn" ng-click="create.moveUp(card)"><span class="fa fa-angle-up"></span></button>
        <button class="btn" ng-click="create.moveDown(card)"><span class="fa fa-angle-down"></span></button>


      </div> <!-- end ng-repeat div -->

      <button class="btn btn-primary savedeckbtn" type="button" ng-click="create.handleSave()">Save the deck</button>
    </div>
  </div>
</div>
