<!-- Select card type section  -->
  <div class = "row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading panel-default text-center">Select a Card Type</div>
          <div class="panel-body text-center">
            <div class="row">
              <div class="btn btn-primary btn-lg x-btn-card-type" ng-click="$ctrl.setCardType('basic')">Basic</div>
            </div>
            <div class="row">
              <div class="btn btn-primary btn-lg x-btn-card-type" ng-click="$ctrl.setCardType('image')">Image</div>
            </div>
            <div class="row">
              <div class="btn btn-primary btn-lg x-btn-card-type" ng-click="$ctrl.setCardType('multiple choice')">Multiple Choice
              </div>
            </div>
            <div class="row">
              <div class="btn btn-primary btn-lg x-btn-card-type" ng-click="$ctrl.setCardType('true/false')">True/False</div>
            </div>
            <div class="row">
              <div class="btn btn-primary btn-lg x-btn-card-type" ng-click="$ctrl.setCardType('short answer')">Short Answer</div>
            </div>
          </div>

      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <!-- END OF Select card type section -->