/*andrew */

.deck-list-entry {
  cursor: auto;
}

.choose-deck-table-titles {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.forgot-password {
  cursor: pointer;
  text-decoration: underline;
}

.deck-table {
  cursor: auto;
}