/*andrew */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:white;
}

.deck-list-entry {
  cursor: auto;
}

.choose-deck-table-titles {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.forgot-password {
  cursor: pointer;
  text-decoration: underline;
}

.deck-table {
  cursor: auto;
}

.clickButton {
  color: white;
  text-decoration: none;
}

.deletekey:hover {
  color: white;
  text-decoration: underline;
}