/*Doug*/

.x-btn-card-type {
  margin-bottom: 10px;
}

.card-area {
  background-color: #F8F8F8;
}

.spacer-block {
  height: 10px;
}

.bad-pass {
  color: red;
}

.hover-green:hover{
  background-color: #5CB85C !important;

}